@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
@media only screen and (max-width: 768px) {
    .header-bg{
        height : 100vh;
    }
}
.resume a:link,.resume a:visited{
    
    color: rgb(178, 194, 81);

}
header{
    height : 100vh;
    overflow: hidden;
    position: relative;
    color: white;
    text-align: center;
}
.header-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: grayscale(1) brightness(0.8);
}
.header-content{
    position: relative;
    height:90vh;
    flex-direction: column;
}
.header-name{
    font-weight: 600;
}
h1{
    font-size: 3.5rem;
}
.row{
    margin: 0;
}
body{
    background-color: rgb(34,34,34);
}
.featured{
    padding: 3vh;
    
}
.resume{
    padding: 3vh;
    
}
.about{
    padding: 3vh;
    
}
.project{
    padding: 3vh;
    
}
.skills{
    padding: 3vh;
    
}
.certification{
    padding: 3vh;
    
}
.contact{
    padding: 3vh;
    
}
.featured h2{
    color:white;
    text-align: center;
}
.resume h2{
    color:white;
    text-align: center;
}
.about h2{
    color:white;
    text-align: center;
}
.project h2{
    color:white;
    text-align: center;
}
.skills h2{
    color:white;
    text-align: center;
}
.certification h2{
    color:white;
    text-align: center;
}
.contact h2{
    color:white;
    text-align: center;
}
.vertical-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.ui-card{
    background-color: rgb(51,51,51);
}
.ui-card .card-text{
    color: white;
}
.navbar-fixed-top.scrolled {
    background-color:rgb(245, 245, 245) !important;
    transition: background-color 200ms linear;
    color: #555 !important;
  }
.txtcol{
    color:aliceblue
}
.resume h3{
    color:white;
}
.my-img-content img{
    max-width: 100%;
     filter: grayscale(1);
}
.about-color{
    color: white;
}
.my-btn .btn{
   margin: 0 1vw;
   filter: brightness(0.8) sepia(0.2) ;
}
.contact-form label{
    color:white
}
.card-title{
    color: rgb(203,159,32);
}
.card-body .card-text{
    color: #dcdddf
}

.card-body a.disabled {
    pointer-events: none;
    cursor: default;
    color : grey;
  }
.card .size-image{
    height: 40vh;
}
/* .modal-lg {
    max-width: 100% !important;
} */

.mycls .mytxt .titlecol{
    background-color: rgb(34,34,34);
    color: rgb(203,159,32);
}
.mycls .mytxt .contentcol{
    background-color: rgb(34,34,34);
    color: #dcdddf
}
.contact label{
    color: rgb(203,159,32);
}
.contact input,.contact textarea,
.contact input:focus,.contact textarea:focus{   
    color:whitesmoke;
    background-color: rgb(51,51,51);
    border-color: transparent;
}
strong{
    filter: grayscale(1)
}
.social-icons button{
    
    border-radius: 50%;
    margin: 0 5px;
}
.social-icons button img{
    height: 36px;
    padding: 5px 0px; 
}